@import '../../empleador/requerimiento-detalle/requerimiento-detalle.component.css';

form.card {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}
